* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Body*/
body{
    background-color: black;
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.5;
    position: relative;
    font-size: 16px;
}
/*header*/
.header{
        display: flex;
        background-color: black;
        border-bottom: 5px solid #fff;
        padding: 30px 30px;
        align-items: center;
        justify-content: space-between;
        position: sticky;
        top: 0;
        z-index: 100;
}

.header_list {
    display: flex;
    list-style: none;
}

.header_item {
    margin: 0px 15px;
    
}

.header_links {
    margin-left: 10px;
    text-decoration: none;
   color: #FFF; 
}


/*index*/
.main{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto;
    
}
.PDarquitectos{
    color: #FFF;
}
/*Grids*/

.grid-contenedor-body{
    height: 100vh;
    width: 90%;
    max-width: 75em; 
    margin: 20px auto;
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: "header" 
                         "main"   
                         "footer";   
}

.grid-logo{
    grid-template-columns: 20px;
}
.grid-header{
    grid-area: header ; 
}
.grid-main{
    grid-area: main ;
}
.grid-footer{
    grid-area: footer ;
}


/*-----------------------------*/
/*texto*/
p{color: white;
font-size: 20px;}
/*-----------------------------*/


/*body1*/
.body1{
    background-image: url(https://www.mediasource.mx/hubfs/blog-files/fondos-web.jpg);

}

/*-----------------------------*/
/*texto*/
.texto{
    background-color: white;
    background-size: cover;
    padding: 30px 20px 30px 20px;
    margin: 100px 20px;
    width: 600px;
    border-width: 5px;
}


h2{
    color:white
}
h3{
    color: black;
}
.texto1{
    text-transform: uppercase;
}
/*-----------------------------*/
/*hero*/
.info_box_imag{
    display:flex;
    align-content: center ;
    justify-content: center;
    align-items: center;
    gap: 50px;
    left:100px;
    background-color: black;
    padding: 100px;
}
.info_box_imag_box{
    width: 50%;
}

.image_info{
    width: 700px;
    height: 450px;
}

.info_box_imag_imag{
    width: 50%;
}
.info_box_titulo{
    font-size: 4rem;
    color: #fff;
}
.info_box_tituloDos{
    font-size: 20px;
    margin-top: 10px;
    color: #fff;
}
.info_box_parrafo{
    margin-top: 10px;
    color: #fff;
}
/*-----------------------------*/
/*sobre nosotros*/
.hero_sobre {
    display: flex;
    text-align: center;
    background-color: #ffffff;
    height: 70vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
 .sobre_titulo{
    color: rgb(0, 0, 0);
    font-size: 4rem;
}
.info_box_imagSobre {
    width: 100%;
}
.iconos_equipo {
    display: flex;
    background-color: #f8f9fd;
    height: auto;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.icono_equipoBox {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    max-height: inherit;
    width: auto;
    padding: 20px;
}
.icono_equipoContenedor{
    width: auto;
    height: auto;
}
.icono_equipoImagen{
        -webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
        animation: shadow-drop-2-center 0.4s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
        max-height: 400px;
        
        
}
.icono_equipoTitulo{
    margin-top: 15px;
    text-align: center;

}


/*-----------------------------*/
/*formulario*/
.contact_form{
    background-color:black;
    background-size: cover;
    padding: 30px 20px 30px 20px;
    margin: 100px 20px;
    width: 600px;
    font-family: 'Roboto', sans-serif;
    font-style: oblique;
    line-height: 1.5;
    font-size: 12px;
    content: none;
    border: none;

}
/*-----------------------------*/
/*footer*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

  * {
    font-family: Open Sans;
  }
  
  section {
    width: 100%;
    display: inline-block;
    background: #333;
    height: 50vh;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    text-decoration: underline;
    
  }
  
  .footer-distributed{
      background: #666;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
      box-sizing: border-box;
      width: 100%;
      text-align: left;
      font: bold 16px sans-serif;
      padding: 55px 50px;
  }
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
      display: inline-block;
      vertical-align: top;
  }
  
  /* Footer left */
  
  .footer-distributed .footer-left{
      width: 40%;
  }
  
  /* The company logo */
  
  .footer-distributed h3{
      color:  #ffffff;
      font: normal 36px 'Open Sans', cursive;
      margin: 0;
  }
  
  .footer-distributed h3 span{
      color:  lightseagreen;
  }
  
  /* Footer links */
  
  .footer-distributed .footer-links{
      color:  #ffffff;
      margin: 20px 0 12px;
      padding: 0;
  }
  
  .footer-distributed .footer-links a{
      display:inline-block;
      line-height: 1.8;
    font-weight:400;
      text-decoration: none;
      color:  inherit;
  }
  
  .footer-distributed .footer-company-name{
      color:  #222;
      font-size: 14px;
      font-weight: normal;
      margin: 0;
  }
  
  /* Footer Center */
  
  .footer-distributed .footer-center{
      width: 35%;
  }
  
  .footer-distributed .footer-center i{
      background-color:  #33383b;
      color: #ffffff;
      font-size: 25px;
      width: 38px;
      height: 38px;
      border-radius: 50%;
      text-align: center;
      line-height: 42px;
      margin: 10px 15px;
      vertical-align: middle;
  }
  
  .footer-distributed .footer-center i.fa-envelope{
      font-size: 17px;
      line-height: 38px;
  }
  
  .footer-distributed .footer-center p{
      display: inline-block;
      color: #ffffff;
    font-weight:400;
      vertical-align: middle;
      margin:0;
  }
  
  .footer-distributed .footer-center p span{
      display:block;
      font-weight: normal;
      font-size:14px;
      line-height:2;
  }
  
  .footer-distributed .footer-center p a{
      color:  lightseagreen;
      text-decoration: none;;
  }
  
  .footer-distributed .footer-links a:before {
    content: "|";
    font-weight:300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  /* Footer Right */
  
  .footer-distributed .footer-right{
      width: 20%;
  }
  
  .footer-distributed .footer-company-about{
      line-height: 20px;
      color:  #92999f;
      font-size: 13px;
      font-weight: normal;
      margin: 0;
  }
  
  .footer-distributed .footer-company-about span{
      display: block;
      color:  #ffffff;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 20px;
  }
  
  .footer-distributed .footer-icons{
      margin-top: 25px;
  }
  
  .footer-distributed .footer-icons a{
      display: inline-block;
      width: 35px;
      height: 35px;
      cursor: pointer;
      background-color:  #33383b;
      border-radius: 2px;
  
      font-size: 20px;
      color: #ffffff;
      text-align: center;
      line-height: 35px;
  
      margin-right: 3px;
      margin-bottom: 5px;
  }
  
/*-----------------------------*/
  /* Estilos moviles */

  @media screen and (max-width: 1200px)
  {
  body{ background-color: black;}

  .body1{ background-image: url(https://www.mediasource.mx/hubfs/blog-files/fondos-web.jpg) ;
            font-size: 15px;}
  .header{
      position: static;
  }
  .hero_titulo {
      font-size: 3.5rem;
  }
  .hero_imagen {
      max-height: 300px;
  }
  .info_box_titulo {
      font-size: 2rem;
  }
  .info_box_parrafo {
      margin-top: 4px;
      font-size: 1rem;
  }
  .info_box_imag_imag {
      width: 80%;
  }
  .info_box_imag {
      padding: 23px;
      flex-direction:column;
      flex-wrap:wrap;
  }
  .image_info{
      width: 450px;
      height: 300px;
  }


  /* sobre nosotros */

  .footer_tituloParrafo {
      font-size: 0.8rem;
  }

} 
@media screen and (max-width: 768px){
    body{ background-color: black;}

    .body1{ background-image: url(https://www.mediasource.mx/hubfs/blog-files/fondos-web.jpg) ;}
    .header{
        position: static;
    }

    .box_dos {
        display: flex;
        justify-content: space-evenly;
    }
    .hero_titulo {
        font-size: 2rem;
        left: 50px;
    }
    .hero_imagen {
        max-height: 275px;
    }
    .hero_parrafo {
        font-size: 0.9rem;
        left: 50px;
    }
    .hero_boton_contenedor {
        left: 50px;
    }
    .footer_tituloParrafo {
        font-size: 0.7rem;
    }
    .footer_logoText {
        left: 50px;
    }
    .footer_contenedor {
        display: flex;
        margin-bottom: 30px;
        margin-top: 30px;
        align-items: baseline;
        justify-content: center;
    }
    .footer_menu {
        width: 25%;
        position: relative;
        left: 77px;
    }
    .info_box_titulo {
        font-size: 1.5rem;
    }
    .info_box_imag {
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        gap: 20px;
        left: 14px;
        background-color: black;
        padding: 50px;
    }
    .image_info{
        width: 350px;
        height: 300px;
    }
  
}


@media screen and (max-width: 600px){
    body{ background-color: black;}

    .body1{ background-image: url(https://www.mediasource.mx/hubfs/blog-files/fondos-web.jpg) ;}
    .grid-header {
        position: static;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .header_list {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    .hero {
        height: auto;
        flex-direction: column;
        justify-content: space-around;    
    }
    .hero_titulo {
        font-size: 2rem;
        left: 0px;
        text-align: center;
        margin-top: 50px;
    }
    .hero_parrafo {
        font-size: 0.9rem;
        left: 0px;
        text-align: center;
        margin-top: 10px;
    }
    .hero_boton_contenedor {
        margin-top: 10px;
        position: relative;
        text-align: center;
        left: 0px;
    }
    .hero_imagen {
        max-height: 205px;
        margin: 70px;
    }
    .hero_box {
        width: 90%;
    }
    .info_box_imag_box {
        width: 90%;
    }
    .info_box_imag {
        padding: 23px;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .info_box_imag_imag {
        width: 75%;
        margin-top: 10px;
    }
    .box_repetidaTitulo {
        font-size: 1.5rem;
    }
    .footer_contenedor {
        align-content: center;
        flex-wrap: nowrap;
        flex-direction: column;
        margin: 22px;
    }
    .footer_logoText {
        left: 0px;
        width: auto;
    }
    .footer_menu {
        width: auto;
        position: relative;
        left: 0px;
        margin: 10px;
    }
    .footer_menuEnlace {
        width: auto;
        position: relative;
        left: 0px;
        margin: 10px;
    }
    .footer_menuContacto {
        width: auto;
        position: relative;
        left: 0px;
        margin: 10px;
    }
    .footer_tituloParrafo {
        font-size: 1rem;
        margin: 10px;
    }

    .image_info{
        width: 300px;
        height: 150px;
    }

    /* sobre nosotros */
    .sobre_titulo {
        font-size: 2rem;
    }
}




/*animacion*/
@-webkit-keyframes shadow-drop-2-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-transform: translateZ(50px);
              transform: translateZ(50px);
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
  }
  @keyframes shadow-drop-2-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-transform: translateZ(50px);
              transform: translateZ(50px);
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
  }

  
 
  .cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .card {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
  }
  
  .card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
  }
  
  .card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
  }
  
  .card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }
  .title-white {
    color: white;
  }
  
  .title-black {
    color: black;
  }
  
  
  @media all and (max-width: 500px) {
    .card-list {
      flex-direction: column;
    }
  }  